@using DntSite.Web.Features.PrivateMessages.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پیغام خصوصی ذیل برای شما ارسال گردیده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma;">
        <strong>از طرف</strong>: @Model.FriendlyName
        <br/>
        <strong>عنوان</strong>: @Model.Title
        <br/>
        <strong>پیام</strong>: @Model.Body.HtmlRaw(wrapInSpanWithDir: true)
        <br/>
        <br/>
        برای پاسخ به این پیام
        <a href="@PostUrl">
            اینجا
        </a> کلیک نمائید.
    </div>
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
    <br/>
    <span lang="fa" dir="ltr">

        @Model.MsgDateTime
    </span>
    <br/>

</LayoutView>

@code {

    [Parameter] public ContactUsEmailModel Model { set; get; } = null!;

    [Inject] public IProtectionProviderService ProtectionProvider { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(PrivateMessagesRoutingConstants.MyPrivateMessageBase, escapeRelativeUrl: false).CombineUrl(EncryptedId, escapeRelativeUrl: true);

    private string EncryptedId => ProtectionProvider.Encrypt(Model.PmId) ?? "";

}
