@using DntSite.Web.Features.PrivateMessages.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پیغام ویژه ذیل برای شما ارسال گردیده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>از طرف</strong>: @Model.FromUserName
        <br/>
        <strong>آدرس ایمیل</strong>: @Model.FromUserNameEmail
        <br/>
        <strong>عنوان</strong>: @Model.Title
        <br/>
        <strong>پیام</strong>: @Model.DescriptionText.HtmlRaw(wrapInSpanWithDir: true)
        <br/>
    </div>
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
    <br/>
    <span lang="fa" dir="ltr">

        @Model.MsgDateTime
    </span>
    <br/>

</LayoutView>

@code {

    [Parameter] public PublicContactUsEmailModel Model { set; get; } = null!;

}
