@using DntSite.Web.Features.News.Entities
@using DntSite.Web.Features.Posts.Components
@attribute [Route(NewsRoutingConstants.NewsDetailsNewsId)]
@attribute [Route(NewsRoutingConstants.NewsArchiveDetailsNewsId)]

<DntLoading IsLoading="@(_news is null || CurrentPost is null || _newsComments is null)">
    <DntSitePageTitle PageTitle="@CurrentPost!.Title"/>

    <DntPageSeo Description="@CurrentPost.BriefDescription"
                Title="@CurrentPost.Title"
                OpenSearchUrl="@ApiUrlsRoutingConstants.OpenSearch.HttpGet.RenderOpenSearch"
                Tags="@GetTags()"
                AuthorName="@CurrentPost.User?.FriendlyName"
                DateModified="@ModifiedAt"
                DatePublished="CurrentPost.Audit.CreatedAt"
                SiteName="@ApplicationState.AppSetting?.BlogName"
                YourTwitterHandle=""
                TotalRaters="CurrentPost.Rating.TotalRaters"
                AverageRating="CurrentPost.Rating.AverageRating"
                ImageDescription="@CurrentPost.Title"
                ImageUrl="@CurrentPostImageUrl"
                RssUrl="@ApiUrlsRoutingConstants.Feed.HttpAny.Index"
                SiteMapUrl="@ApiUrlsRoutingConstants.Sitemap.HttpAny.Get"/>

    <InjectLastAndNextPostLinks
        PostUrlTemplate="@NewsRoutingConstants.PostUrlTemplate"
        LastPostId="_news!.PreviousNews?.Id"
        LastPostTitle="@_news.PreviousNews?.Title"
        NextPostId="_news.NextNews?.Id"
        NextPostTitle="@_news.NextNews?.Title"/>

    <ShowBlogPostItem TReactionEntity="DailyNewsItemReaction"
                      TForeignKeyEntity="DailyNewsItem"
                      SiteName="@ApplicationState.AppSetting?.BlogName"
                      CommentsUrlTemplate="@NewsRoutingConstants.CommentsUrlTemplate"
                      PostUrlTemplate="@NewsRoutingConstants.PostUrlTemplate"
                      PostTagUrlTemplate="@NewsRoutingConstants.PostTagUrlTemplate"
                      ShowBriefDescription="false"
                      ShowTags="true"
                      ShowCommentsButton="true"
                      Id="CurrentPost.Id"
                      Body="@CurrentPost.BriefDescription"
                      Reactions="CurrentPost.Reactions"
                      Tags="@GetTags()"
                      Title="@CurrentPost.Title"
                      BriefDescription="@CurrentPost.BriefDescription"
                      CreatedAt="CurrentPost.Audit.CreatedAt"
                      RecordUser="CurrentPost.User"
                      NumberOfComments="CurrentPost.EntityStat.NumberOfComments"
                      NumberOfViews="CurrentPost.EntityStat.NumberOfViews"
                      ReadingTimeMinutes="0"
                      CreatedByUserAgent="@CurrentPost.Audit.CreatedByUserAgent"
                      NumberOfViewsFromFeed="CurrentPost.EntityStat.NumberOfViewsFromFeed"
                      CanUserDeleteThisPost="CanUserDeleteThisPost"
                      CanUserEditThisPost="CanUserEditThisPost"
                      EncryptEditDeleteIDs="true"
                      EditPostUrlTemplate="@NewsRoutingConstants.EditPostUrlTemplate"
                      DeletePostUrlTemplate="@NewsRoutingConstants.DeletePostUrlTemplate">
        <AdditionalHeaderContent>
            <PrintNewsRedirect DailyNewsItem="CurrentPost"/>
        </AdditionalHeaderContent>
        <AdditionalBodyContent>
            <PrintNewsThumb DailyNewsItem="CurrentPost"/>
        </AdditionalBodyContent>
    </ShowBlogPostItem>

    <span id="comments"></span>

    <ManageBlogPostCommentItem
        IsReplyToPost="true"
        Body="@null"
        CommentId="@null"
        CreatedAt="@null"
        PostId="@CurrentPost.Id"
        RecordUser="@null"
        UploadFileApiPath="@ApiUrlsRoutingConstants.UploadFile.HttpPost.FileUpload"
        UploadImageFileApiPath="@ApiUrlsRoutingConstants.UploadFile.HttpPost.ImageUpload"
        HandleCommentAction="HandleCommentActionAsync"/>

    <DntTreeView
        TRecord="DailyNewsItemComment"
        Items="_newsComments"
        ChildrenSelector="m => m.Children"
        style="list-style: none;">
        <ItemTemplate Context="record">
            <ShowBlogPostCommentItem
                PostId="@CurrentPost.Id"
                CommentId="@record.Id"
                Body="@record.Body"
                Reactions="@record.Reactions"
                RecordUser="@record.User"
                CreatedAt="@record.Audit.CreatedAt"
                CreatedByUserAgent="@record.Audit.CreatedByUserAgent"
                TReactionEntity="DailyNewsItemCommentReaction"
                TForeignKeyEntity="DailyNewsItemComment"
                HandleCommentAction="HandleCommentActionAsync"
                UploadFileApiPath="@ApiUrlsRoutingConstants.UploadFile.HttpPost.FileUpload"
                UploadImageFileApiPath="@ApiUrlsRoutingConstants.UploadFile.HttpPost.ImageUpload"/>
        </ItemTemplate>
        <EmptyContentTemplate>
            <DntAuthorizedMessageBox/>
        </EmptyContentTemplate>
    </DntTreeView>
</DntLoading>
