@if (FileExists)
{
    <div align="center" class="mt-4">
        <a href="@ImageUrl" rel="nofollow" target="_blank">
            <img id="newsItemImage-@Id"
                 class="rounded border shadow-sm border-secondary-subtle"
                 src="@(ApiUrlsRoutingConstants.File.HttpAny.NewsThumb)?name=@Uri.EscapeDataString(FileName)"
                 alt="@Title"
                 title="@Title"/>
        </a>
    </div>
}

<div class="d-flex flex-column align-items-center">
    <div dir="rtl" class="card shadow-sm pe-3 ps-3 pt-1 pb-2 mb-2 mt-3">
        <DntLink IsExternal="true" Url="@RedirectUrl" title="@Title">
            مشاهده مطلب اصلی
            <span aria-hidden="true">&larr;</span>
        </DntLink>
    </div>
</div>
