@if (LastHttpStatusCodeCheckDateTime.HasValue)
{
    <div title="وضعیت پیوند" class="ms-2 badge @StatusIcon">@HttpStatusCodeText</div>
}

@if (!UrlHost.IsEmpty())
{
    <img class="ms-2"
         src="https://www.google.com/s2/favicons?domain=@UrlHost"
         alt="@Url icon"
         title="@Url"
         width="16" height="16"/>
}
<div class="badge bg-primary ms-2">
    <DntLink IsExternal="true" Url="@RedirectUrl" title="@Url" CssClass="text-light">
        مشاهده مطلب اصلی
        @if (!UrlHost.IsEmpty())
        {
            <span>در </span>
            <span dir="ltr">@UrlHost</span>
        }
        <span aria-hidden="true"> &larr; </span>
    </DntLink>
</div>
