<DntLoading IsLoading="@(_visitorsInfo is null)">
    <DntMessageBox Type="AlertType.Info" IsVisible="true" ShowCloseButton="false" EnableDataEnhancedNavigation="true">
        <ol class="breadcrumb pt-3 ps-3" style="--bs-breadcrumb-divider: '❱';">
            <li class="breadcrumb-item">
                <span class="@DntBootstrapIcons.BiCalendar2Range ms-2 me-1"></span>
                تعداد کل کاربران آنلاین در طی ده دقیقه قبل، <span>@_visitorsInfo!.TotalOnlineVisitorsCount.ToPersianNumbers()</span> مورد است
            </li>
            <li class="breadcrumb-item">
                <span class="@DntBootstrapIcons.BiPeople me-1"></span>
                <a href="@StatsRoutingConstants.TodayVisitedUsers">
                    <strong>کاربران سایت: </strong>
                </a>
                <span>@_visitorsInfo!.TotalOnlineAuthenticatedUsersCount.ToPersianNumbers()</span>
            </li>
            <li class="breadcrumb-item">
                <span class="@DntBootstrapIcons.BiPeopleFill me-1"></span>
                <a href="@StatsRoutingConstants.OnlineVisitors">
                    <strong>مهمان‌ها: </strong>
                </a>
                <span>@_visitorsInfo!.TotalOnlineGuestUsersCount.ToPersianNumbers()</span>

            </li>
            <li class="breadcrumb-item">
                <span class="@DntBootstrapIcons.BiBug me-1"></span>
                <a href="@StatsRoutingConstants.OnlineSpiderVisitorsUrl">
                    <strong>خزنده‌ها: </strong>
                </a>
                <span>@_visitorsInfo!.OnlineSpidersCount.ToPersianNumbers()</span>

            </li>
        </ol>
    </DntMessageBox>
</DntLoading>
