@using DntSite.Web.Features.Stats.Entities
@attribute [Route(StatsRoutingConstants.OnlineVisitors)]
@attribute [Route(StatsRoutingConstants.OnlineVisitorsPageCurrentPage)]
@attribute [Route(StatsRoutingConstants.OnlineSpiderVisitors)]
@attribute [Route(StatsRoutingConstants.OnlineSpiderVisitorsPageCurrentPage)]
@attribute [Route(StatsRoutingConstants.OnlineVisitorsDeleteDeleteId)]

<DntSitePageTitle Group="آمار برنامه" PageTitle="@PageTitle" CurrentPage="@CurrentPage"/>

<ShowOnlineVisitorsInfo/>

<DntLoading IsLoading="@(_items is null)">
    <DntSimpleTable TRecord="SiteUrl"
                    Records="_items!.Data"
                    TableClass="table table-striped table-hover caption-top"
                    HeaderClass="table-secondary"
                    FooterRowClass="table-warning"
                    TableResponsiveClass="row table-responsive"
                    RowClass='record => ""'>
        <CaptionTemplate>
            <strong>@PageTitle</strong>
        </CaptionTemplate>
        <TableColumns>
            <DntSimpleTableColumn HeaderTitle="آخرین بازدید کننده"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-right align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    @if (ApplicationState.IsCurrentUserAdmin)
                    {
                        <a href="@StatsRoutingConstants.OnlineVisitorsDeleteBase/@Uri.EscapeDataString(ProtectionProvider.Encrypt(record.Id.ToString(CultureInfo.InvariantCulture)) ?? "")"
                           data-cancel-confirm-message="آیا می‌خواهید این سطر را حذف کنید؟"
                           class="btn btn-danger me-2 btn-sm">
                            حذف
                        </a>
                    }

                    @if (record.LastSiteUrlVisitorStat.IsSpider)
                    {
                        <span class="@DntBootstrapIcons.BiBug ms-2 me-1"></span>
                    }
                    else if (!string.IsNullOrWhiteSpace(record.LastSiteUrlVisitorStat.DisplayName))
                    {
                        <span class="@DntBootstrapIcons.BiPersonGear ms-2 me-1"></span>
                        <span class="badge bg-light-subtle me-1">
                            <a href="@GetUserUrl(record.LastSiteUrlVisitorStat.DisplayName)">
                                @record.LastSiteUrlVisitorStat.DisplayName
                            </a>
                        </span>
                    }
                    else
                    {
                        <span class="@DntBootstrapIcons.BiPersonExclamation ms-2 me-1"></span>
                        <span class="badge bg-dark me-1">
                            <span>مهمان</span>
                        </span>
                    }

                    @if (record.LastSiteUrlVisitorStat.ClientInfo is not null)
                    {
                        <span title="OS" class="badge bg-primary me-1">
                            @record.LastSiteUrlVisitorStat.ClientInfo.OS
                        </span>
                        <span title="Device" class="badge bg-secondary me-1">
                            @record.LastSiteUrlVisitorStat.ClientInfo.Device
                        </span>
                        <span title="@record.LastSiteUrlVisitorStat.UserAgent" class="badge bg-warning me-1">
                            @record.LastSiteUrlVisitorStat.ClientInfo.UA
                        </span>
                    }
                    else
                    {
                        <span title="@record.LastSiteUrlVisitorStat.UserAgent" dir="ltr"
                              class="badge bg-primary me-1 text-wrap text-break">
                            @record.LastSiteUrlVisitorStat.UserAgent
                        </span>
                    }
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="در حال مطالعه"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-right align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    <DntLink IsExternal="true" Url="@record.Url">
                        <div>
                            <span class="@DntBootstrapIcons.BiNewspaper ms-2 me-1"></span>
                            <span dir="@record.Title.GetDir()">
                                @record.Title
                            </span>
                        </div>
                    </DntLink>
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="آخرین بازدید"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-center align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    @record.LastSiteUrlVisitorStat.VisitTime.ToFriendlyPersianDateTextify()
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="تعداد کل بازدیدها"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-center align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    @record.VisitsCount.ToString(format: "n0", CultureInfo.InvariantCulture).ToPersianNumbers()
                </CellValueTemplate>
            </DntSimpleTableColumn>
        </TableColumns>

        <DataSourceIsEmptyTemplate>
            <div class="alert alert-info">
                اطلاعاتی برای نمایش یافت نشد.
            </div>
        </DataSourceIsEmptyTemplate>
    </DntSimpleTable>

    <DntSimplePaginator ItemsPerPage="ItemsPerPage"
                        TotalItemCount="_items!.TotalItems"
                        BasePath="@BasePath"
                        CurrentPage="CurrentPage"/>
</DntLoading>
