@using DntSite.Web.Features.Stats.Models
@attribute [Route(StatsRoutingConstants.OnlineVisitors)]
@attribute [Route(StatsRoutingConstants.OnlineVisitorsPageCurrentPage)]
@attribute [Route(StatsRoutingConstants.OnlineSpiderVisitors)]
@attribute [Route(StatsRoutingConstants.OnlineSpiderVisitorsPageCurrentPage)]

<DntSitePageTitle PageTitle="@PageTitle"/>

<ShowOnlineVisitorsInfo/>

<DntLoading IsLoading="@(_items is null)">
    <DntSimpleTable TRecord="OnlineVisitorInfoModel"
                    Records="_items!.Data"
                    TableClass="table table-striped table-hover caption-top"
                    HeaderClass="table-secondary"
                    FooterRowClass="table-warning"
                    TableResponsiveClass="row table-responsive"
                    RowClass='record => ""'>
        <CaptionTemplate>
            <strong>@PageTitle</strong>
        </CaptionTemplate>
        <TableColumns>
            <DntSimpleTableColumn HeaderTitle="مراجعه کننده"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-right align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    @if (record.IsSpider)
                    {
                        <span class="@DntBootstrapIcons.BiBug ms-2 me-1"></span>
                    }
                    else if (!string.IsNullOrWhiteSpace(record.DisplayName))
                    {
                        <span class="@DntBootstrapIcons.BiPersonGear ms-2 me-1"></span>
                        <span class="badge bg-light-subtle me-1">
                            <a href="@GetUserUrl(record.DisplayName)">@record.DisplayName</a>
                        </span>
                    }
                    else
                    {
                        <span class="@DntBootstrapIcons.BiPersonExclamation ms-2 me-1"></span>
                        <span class="badge bg-dark me-1">
                            <span>مهمان</span>
                        </span>
                    }

                    @if (record.ClientInfo is not null)
                    {
                        <span title="OS" class="badge bg-primary me-1">@record.ClientInfo.OS</span>
                        <span title="Device" class="badge bg-secondary me-1">@record.ClientInfo.Device</span>
                        <span title="@record.UserAgent" class="badge bg-warning me-1">@record.ClientInfo.UA</span>
                    }
                    else
                    {
                        <span title="@record.UserAgent" dir="ltr" class="badge bg-primary me-1 text-wrap text-break">
                            @record.UserAgent
                        </span>
                    }

                    <span dir="rtl" class="badge bg-success me-1">@record.VisitTime.ToFriendlyPersianDateTextify()</span>
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="در حال مطالعه"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-right align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    <DntLink IsExternal="true" Url="@record.VisitedUrl">
                        <div>
                            <span class="@DntBootstrapIcons.BiNewspaper ms-2 me-1"></span>
                            <span dir="@record.VisitedUrlTitle.GetDir()">
                                @record.VisitedUrlTitle
                            </span>
                        </div>
                        <div>
                            @if (!string.IsNullOrWhiteSpace(record.ReferrerUrl) && !record.IsLocalReferrer)
                            {
                                <span title="Device" class="badge bg-secondary me-1">ارجاع دهنده</span>

                                <DntLink IsExternal="true" Url="@record.ReferrerUrl">
                                    <span dir="@record.ReferrerUrl.GetDir()">
                                        @record.ReferrerUrlTitle
                                    </span>
                                </DntLink>
                            }
                        </div>
                    </DntLink>
                </CellValueTemplate>
            </DntSimpleTableColumn>
        </TableColumns>

        <DataSourceIsEmptyTemplate>
            <div class="alert alert-info">
                اطلاعاتی برای نمایش یافت نشد.
            </div>
        </DataSourceIsEmptyTemplate>
    </DntSimpleTable>

    <DntSimplePaginator ItemsPerPage="ItemsPerPage"
                        TotalItemCount="_items!.TotalItems"
                        BasePath="@BasePath"
                        CurrentPage="CurrentPage"/>
</DntLoading>
