@using DntSite.Web.Features.Projects.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    نظر جدید ذیل برای پروژه «
    <a href="@PostUrl">
        @Model.Title
    </a>» ارسال گردیده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <strong>نام فرستنده</strong>: @Model.Username
        <br/>
        <strong>نظر</strong>: @Model.Body.HtmlRaw(wrapInSpanWithDir: true)
        <br/>
        <strong>وضعیت</strong>: @Model.Stat
        <br/>
        <br/>
        برای تائید نظرات
        <a href="@(Model.SiteRootUri)ApproveIssues/Index">
            اینجا
        </a> کلیک کنید.
    </div>
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
    <br/>
    <span lang="fa" dir="ltr">

        @Model.MsgDateTime
    </span>
    <br/>

</LayoutView>

@code {

    [Parameter] public NewIssueSendEmailToAdminsModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(ProjectsRoutingConstants.ProjectFeedbacksBase, escapeRelativeUrl: false).CombineUrl(Model.ProjectId, escapeRelativeUrl: false).CombineUrl(Model.PmId, escapeRelativeUrl: false);

}
