@using DntSite.Web.Features.UserProfiles.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    مطلب ذیل بازیابی گردید:
    <br/>
    <div dir="rtl" style="font-family: Tahoma; ">
        <strong>شماره :</strong> @Model.Id
        <br/>
        <strong>نام :</strong> @Model.Title
        <br/>
        <strong>نام محتوا:</strong> @Model.Body.HtmlRaw(wrapInSpanWithDir: true)
        <br/>
    </div>
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
    <br/>
    <span lang="fa" dir="ltr">

        @Model.MsgDateTime
    </span>
    <br/>

</LayoutView>

@code {

    [Parameter] public RecycleEmailModel Model { set; get; } = null!;

}
