@using DntSite.Web.Features.News.Components
@using DntSite.Web.Features.News.Entities
@using DntSite.Web.Features.Posts.Components
<DntLoading IsLoading="@(Posts is null)">
    @foreach (var post in Posts!.Data)
    {
        var isDailyNewsItem = post.EntityType == typeof(DailyNewsItem);

        <ShowBlogPostItem TReactionEntity="DailyNewsItemReaction"
                          TForeignKeyEntity="DailyNewsItem"
                          ShowBriefDescription="true"
                          ShowTags="true"
                          SiteName=""
                          ShowCommentsButton="false"
                          CommentsUrlTemplate=""
                          PostUrlTemplate="@post.Url"
                          PostTagUrlTemplate=""
                          Id="0"
                          Body="@post.Content"
                          Reactions="null"
                          Tags="null"
                          Title="@post.OriginalTitle"
                          BriefDescription="@post.Content"
                          CreatedAt="post.PublishDate.UtcDateTime"
                          RecordUser="post.User"
                          NumberOfComments="0"
                          NumberOfViews="0"
                          ReadingTimeMinutes="0"
                          CreatedByUserAgent=""
                          NumberOfViewsFromFeed="0"
                          CanUserDeleteThisPost="false"
                          CanUserEditThisPost="false"
                          EncryptEditDeleteIDs="false"
                          EditPostUrlTemplate=""
                          DeletePostUrlTemplate=""
                          ShowReactions="false"
                          ShowSocialLinks="false"
                          ShowNumberOfViews="false"
                          ShowNumberOfComments="false">
            <BeforeHeaderContent>
                <span class="badge @post.ItemType.BgColor rounded-pill me-2">
                    <i class="@DntBootstrapIcons.BiTag me-1"></i>
                    @post.ItemType.Value
                </span>
            </BeforeHeaderContent>
            <AdditionalHeaderContent>
                @if (isDailyNewsItem)
                {
                    <PrintNewsRedirect Id="@post.Id" Url="@null" LastHttpStatusCode="@null"
                                       LastHttpStatusCodeCheckDateTime="@null"/>
                }
            </AdditionalHeaderContent>
            <AdditionalBodyContent>
                @if (isDailyNewsItem)
                {
                    <PrintNewsThumb Id="@post.Id" Title="@post.OriginalTitle"/>
                }
            </AdditionalBodyContent>
        </ShowBlogPostItem>
    }

    @if (ShowPager)
    {
        <DntSimplePaginator ItemsPerPage="ItemsPerPage"
                            TotalItemCount="Posts!.TotalItems"
                            BasePath="@BasePath"
                            CurrentPage="CurrentPage"/>
    }
</DntLoading>
