@if (_posts is not null && _totalItems > 0)
{
    <DntCard MarginTop="4">
        <Header>
            <h5>مطالب مشابه</h5>
        </Header>
        <ChildContent>
            <ul class="list-group">
                @foreach (var item in _posts)
                {
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="@item.Url">
                        <span class="badge @item.ItemType.BgColor rounded-pill me-2">
                            @item.ItemType.Value
                        </span>
                        @item.OriginalTitle
                    </a>
                }
                <a class="list-group-item list-group-item-action d-flex align-items-center" href="@MoreLikeThisUrl">
                    بیشتر ...
                    <i class='@DntBootstrapIcons.BiArrowLeftCircleFill ms-1'></i>
                </a>
            </ul>
        </ChildContent>
    </DntCard>
}
