@using DntSite.Web.Features.Searches.Models
@using DntSite.Web.Features.UserProfiles.Components
@attribute [Route(SearchesRoutingConstants.SearchedItems)]
@attribute [Route(SearchesRoutingConstants.SearchedItemsPageCurrentPage)]

<DntSitePageTitle PageTitle="آمار جستجوها"/>

<DntLoading IsLoading="@(_items is null)">
    <DntSimpleTable TRecord="SearchItemModel"
                    Records="_items!.Data"
                    TableClass="table table-striped table-hover caption-top"
                    HeaderClass="table-secondary"
                    FooterRowClass="table-warning"
                    TableResponsiveClass="row table-responsive"
                    RowClass='record => ""'>
        <CaptionTemplate>
            <strong>آمار جستجوها</strong>
        </CaptionTemplate>
        <TableColumns>
            <DntSimpleTableColumn HeaderTitle="متن جستجو شده"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-right align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    <button class="btn btn-light btn-sm" type="button" data-dnt-search-text="@record.SearchItem.Text">
                        <span class="@DntBootstrapIcons.BiSearch text-muted" role="img"></span>
                    </button>
                    <span dir="@record.SearchItem.Text.GetDir()">
                        @record.SearchItem.Text
                    </span>
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="از طرف"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-center align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    <PrintUser User="record.SearchItem.User"/>
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="مشخصات"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-center align-middle"'
                                  FooterCellClass="text-center align-middle"
                                  width="430">
                <CellValueTemplate Context="record">
                    <div dir="ltr">
                        @if (record.ClientInfo?.Device.IsSpider == true)
                        {
                            <span class="@DntBootstrapIcons.BiBug ms-2 me-1"></span>
                        }
                        <span title="OS" class="badge bg-primary me-1">@record.ClientInfo?.OS</span>
                        <span title="Device" class="badge bg-secondary me-1">@record.ClientInfo?.Device</span>
                        <span title="@record.SearchItem.Audit.CreatedByUserAgent" class="badge bg-warning me-1">@record.ClientInfo?.UA</span>
                    </div>
                    <div class="badge bg-info" dir="ltr">@record.SearchItem.Audit.CreatedByUserIp</div>
                </CellValueTemplate>
            </DntSimpleTableColumn>

            <DntSimpleTableColumn HeaderTitle="تاریخ ارسال"
                                  HeaderCellClass="text-center"
                                  RowCellClass='record => "text-center align-middle"'
                                  FooterCellClass="text-center align-middle">
                <CellValueTemplate Context="record">
                    @record.SearchItem.Audit.CreatedAt.ToFriendlyPersianDateTextify()
                </CellValueTemplate>
            </DntSimpleTableColumn>
        </TableColumns>

        <DataSourceIsEmptyTemplate>
            <div class="alert alert-info">
                اطلاعاتی برای نمایش یافت نشد.
            </div>
        </DataSourceIsEmptyTemplate>
    </DntSimpleTable>

    <DntSimplePaginator ItemsPerPage="ItemsPerPage"
                        TotalItemCount="_items!.TotalItems"
                        BasePath="@SearchesRoutingConstants.SearchedItems"
                        CurrentPage="CurrentPage"/>
</DntLoading>
