<DntLoading IsLoading="@(Project is null)">
    <div id="ProjectDetails-@Project!.Id" class="col-md-12 mt-4">
        <div class="row">
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(Project!.SourcecodeRepositoryUrl))
                {
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiFileCode"></span>
                        آدرس مخزن کد پروژه
                    </strong>
                    <div align="right" dir="ltr">
                        <a href="@Project.SourcecodeRepositoryUrl">
                            @if (!string.IsNullOrWhiteSpace(Project.Logo))
                            {
                                <img class="rounded-circle img-thumbnail me-1"
                                     alt="@Project.Title"
                                     src="@(ApiUrlsRoutingConstants.File.HttpAny.Avatar)?name=@(Uri.EscapeDataString(Project.Logo))"/>
                            }
                            @Project.SourcecodeRepositoryUrl
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(Project.RequiredDependencies))
                {
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiPuzzle"></span>
                        وابستگی‌های پروژه
                    </strong>
                    <div class="editorText">@Project.RequiredDependencies.HtmlRaw()</div>
                }
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(Project.RelatedArticles))
                {
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiFileText"></span>
                        مقالات و مطالب مرتبط
                    </strong>
                    <div class="editorText">@Project.RelatedArticles.HtmlRaw()</div>
                }
            </div>
            <div class="col-md-6">
                @if (!string.IsNullOrWhiteSpace(Project.DevelopersDescription))
                {
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiPeople"></span>
                        همکاران
                    </strong>
                    <div class="editorText">@Project.DevelopersDescription.HtmlRaw()</div>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <strong>
                    <span aria-hidden="true" class="@DntBootstrapIcons.BiLock"></span>
                    نوع مجوز استفاده از پروژه
                </strong>
                <div class="editorText">@Project.License.HtmlRaw()</div>
            </div>
        </div>
    </div>
</DntLoading>
