<DntLoading IsLoading="@(Course is null)">
    <div class="col-md-12 mt-3" data-enhance-nav="false">
        @if (!Course!.IsReadyToPublish)
        {
            <div class="mb-3">
                <span class="badge bg-warning">این دوره هنوز آماده نیست. برای تغییر وضعیت آن می‌توان به ویرایش شناسه‌ی دوره، مراجعه کرد.</span>
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                <strong>
                    <span aria-hidden="true" class="@DntBootstrapIcons.BiCardChecklist"></span>
                    پیشنیاز‌های دوره
                </strong>
                <span>@Course!.Requirements.HtmlRaw()</span>
            </div>
            <div class="col-md-6">
                <strong>
                    <span aria-hidden="true" class="@DntBootstrapIcons.BiPass"></span>
                    سطح دوره
                </strong>
                <span>@Course.TopicsList.HtmlRaw()</span>
            </div>
        </div>
        <div class="row mt-3">
            @if (Course.CourseTopics.Any(x => x is { IsMainTopic: true, IsDeleted: false }))
            {
                <div class="col-md-6">
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiPencil"></span>
                        لیست سرفصل‌ها
                    </strong>
                    <ul>
                        @foreach (var item in Course.CourseTopics.Where(x => x is { IsMainTopic: true, IsDeleted: false }))
                        {
                            <li>
                                <a href="@CoursesRoutingConstants.CoursesTopicBase/@item.CourseId/@item.DisplayId.ToString(format: "D")">
                                    @item.Title
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Course.CourseTopics.Any(x => x is { IsMainTopic: false, IsDeleted: false }))
            {
                <div class="col-md-6">
                    <strong>
                        <span aria-hidden="true" class="@DntBootstrapIcons.BiWrench"></span>
                        لیست مطالب تکمیلی
                    </strong>
                    <ul>
                        @foreach (var item in Course.CourseTopics.Where(x => x is { IsMainTopic: false, IsDeleted: false }))
                        {
                            <li>
                                <a href="@CoursesRoutingConstants.CoursesTopicBase/@item.CourseId/@item.DisplayId.ToString(format: "D")">
                                    @item.Title
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</DntLoading>
