@{
    var visibleBreadCrumbs = GetBreadCrumbs();
}
@if (visibleBreadCrumbs is { Count: > 0 })
{
    <nav style="--bs-breadcrumb-divider: '@BreadCrumbDivider';" aria-label="breadcrumb" @attributes="@AdditionalAttributes"
         class="mt-@Margin card shadow-sm">
        <ol class="breadcrumb pt-@Margin ps-@Margin">
            @foreach (var item in visibleBreadCrumbs)
            {
                <li class='breadcrumb-item @item.ActiveClass'>
                    @if (!string.IsNullOrWhiteSpace(item.GlyphIcon))
                    {
                        <span class='@item.GlyphIcon me-2' aria-hidden='true'></span>
                    }
                    @if (string.IsNullOrWhiteSpace(item.ActiveClass))
                    {
                        <a href="@item.Url" class="text-decoration-none @item.FontWeightClass">@item.Title</a>
                    }
                    else
                    {
                        @item.Title
                    }
                </li>
            }
        </ol>
    </nav>
}
