@if (IsVisible && ChildContent is not null)
{
    <div id="@AlertDivId" class="alert @Type.Value fade show mb-@MarginBottom mt-@MarginTop shadow-sm dnt-messagebox"
         role="alert"
         data-enhance-nav="@EnableDataEnhancedNavigation"
         @attributes="@AdditionalAttributes">
        @if (ShowCloseButton)
        {
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                    data-dnt-btn-close="@AlertDivId">
            </button>
        }
        @ChildContent
    </div>
    <div id="dnt-online-status-report"></div>
}
