@using DntSite.Web.Features.StackExchangeQuestions.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    پاسخ شما برای پرسش «
    <a href="@PostUrl">
        @Model.Title
    </a>» مورد پذیرش واقع شد؛ با تشکر از همراهی و همکاری شما!
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma; ">
        <blockquote>
            @Model.Body.HtmlRaw(wrapInSpanWithDir: true)
        </blockquote>
    </div>
    <br/>
    <br/>
    با احترام<br/>
    <a style="direction:ltr" href="@Model.SiteRootUri">@Model.EmailSig</a>
    <br/>
    <span lang="fa" dir="ltr">

        @Model.MsgDateTime
    </span>
    <br/>

</LayoutView>

@code {

    [Parameter] public QuestionsReplyToWritersEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(QuestionsRoutingConstants.QuestionsDetailsBase, escapeRelativeUrl: false).CombineUrl($"/{Model.PmId}#comment-{Model.CommentId}", escapeRelativeUrl: false);

}
