<DntSitePageTitle Group="مقالات" PageTitle="@MainTitle" CurrentPage="@CurrentPage"/>

<DntLoading IsLoading="@(Tags is null)">
    <ul class="list-group">
        @foreach (var tag in Tags!)
        {
            <li class="list-group-item list-group-item-action d-flex align-items-center">
                @if (!string.IsNullOrWhiteSpace(GlyphIcon))
                {
                    <span class="@GlyphIcon me-2"></span>
                }
                @if (ShowExportedFile)
                {
                    <DntSite.Web.Features.Exports.Components.ShowExportedFile Id="tag.Id"
                                                                              ItemType="ItemType"/>
                }
                <a dir="@tag.Name.GetDir()" href="@GetUrl(tag.Name)">@tag.Name</a>
                <span class="badge @BadgeValueBgColor.Value rounded-pill ms-auto">
                    <DntToPersianNumbers Value="tag.InUseCount"/>
                </span>
            </li>
        }
    </ul>

    <DntSimplePaginator ItemsPerPage="ItemsPerPage"
                        TotalItemCount="TotalItemCount"
                        BasePath="@BasePath"
                        CurrentPage="CurrentPage"/>
</DntLoading>
