@using DntSite.Web.Features.Courses.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    دوره «
    <a href="@PostUrl">
        @Model.Title
    </a>» به سایت اضافه/ویرایش شده است:
    <br/>
    <br/>
    <strong>توضیحات:</strong><br/>
    @Model.Description.HtmlRaw()
    <br/>
    <br/>
    <strong>نحوه پرداخت:</strong><br/>
    @Model.HowToPay.HtmlRaw()
    <br/>
    <br/>
    <strong>پیشنیازها: </strong>
    <br/>
    @Model.Requirements.HtmlRaw()
    <br/>
    <br/>
    <strong>وابستگی‌ها:</strong><br/>
    @Model.TopicsList.HtmlRaw()
</LayoutView>

@code {

    [Parameter] public NewCourseEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(CoursesRoutingConstants.CoursesDetailsBase, escapeRelativeUrl: false).CombineUrl(Model.Id, escapeRelativeUrl: true);

}
