@using DntSite.Web.Features.AppConfigs.Models
@attribute [Route(AppConfigsRoutingConstants.DatabaseInfo)]

<DntSitePageTitle PageTitle="مشخصات بانک اطلاعاتی برنامه"/>

<DntLoading IsLoading="@(_databaseInfo is null)">
    <DntCardFrame MarginTop="1">
        <FrameHeader>
            مشخصات بانک اطلاعاتی برنامه
        </FrameHeader>
        <FrameBody>
            <div>
                <label>حجم کلی: </label>
                <span dir="ltr">@_databaseInfo!.DatabaseSizeInBytes.ToFormattedFileSize()</span>
            </div>
            <div>
                <label>فضای خالی در بانک اطلاعاتی: </label>
                <span dir="ltr">@_databaseInfo!.DatabaseFreeSpaceSizeInBytes.ToFormattedFileSize()</span>
            </div>
            @if (_needsShrinkDatabase)
            {
                <EditForm Model="this" method="post"
                          OnValidSubmit="OnShrinkDatabase"
                          FormName="@nameof(DatabaseInfo)"
                          Enhance>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="submit"
                                class="btn btn-sm btn-primary me-2">
                            فشرده سازی بانک اطلاعاتی
                        </button>
                    </div>
                </EditForm>
            }
        </FrameBody>
    </DntCardFrame>

    <DntCardFrame MarginTop="3">
        <FrameHeader>
            تعداد ردیف‌های جداول بانک اطلاعاتی برنامه
        </FrameHeader>
        <FrameBody>
            <DntSimpleTable TRecord="SQLiteTable"
                            Records="_databaseInfo!.Tables"
                            TableClass="table table-striped table-hover caption-top"
                            HeaderClass="table-secondary"
                            FooterRowClass="table-warning"
                            TableResponsiveClass="row table-responsive"
                            RowClass='record => ""'>
                <CaptionTemplate>
                    <strong>جداول</strong>
                </CaptionTemplate>
                <TableColumns>
                    <DntSimpleTableColumn HeaderTitle="نام جدول"
                                          HeaderCellClass="text-center"
                                          RowCellClass='record => "text-center align-middle"'
                                          FooterCellClass="text-center align-middle">
                        <CellValueTemplate Context="record">
                            <span dir="ltr">
                                @record.Name
                            </span>
                        </CellValueTemplate>
                    </DntSimpleTableColumn>
                    <DntSimpleTableColumn HeaderTitle="تعداد ردیف"
                                          HeaderCellClass="text-center"
                                          RowCellClass='record => "text-center align-middle"'
                                          FooterCellClass="text-center align-middle">
                        <CellValueTemplate Context="record">
                            <span dir="ltr">
                                @record.RowsCount.ToString(format: "n0", CultureInfo.InvariantCulture)
                            </span>
                        </CellValueTemplate>
                    </DntSimpleTableColumn>
                </TableColumns>
                <DataSourceIsEmptyTemplate>
                    <div class="alert alert-info">
                        اطلاعاتی برای نمایش یافت نشد.
                    </div>
                </DataSourceIsEmptyTemplate>
            </DntSimpleTable>
        </FrameBody>
    </DntCardFrame>

    <DntCardFrame MarginTop="3">
        <FrameHeader>
            مشخصات درایور بانک اطلاعاتی برنامه
        </FrameHeader>
        <FrameBody>
            <div>
                <label>شماره نگارش: </label>
                <span dir="ltr">@_databaseInfo!.DatabaseVersion</span>
            </div>
            <div>
                <label>گزینه‌های کامپایل: </label>
                @foreach (var item in _databaseInfo.CompileOptions)
                {
                    <div dir="ltr">
                        <span dir="ltr">@item</span>
                    </div>
                }
            </div>
        </FrameBody>
    </DntCardFrame>

    <DntCardFrame MarginTop="3">
        <FrameHeader>
            گزینه‌های فعال در رشته‌ی اتصالی جاری
        </FrameHeader>
        <FrameBody>
            <div>
                <label>گزینه‌های فعال: </label>
                @foreach (var item in _databaseInfo!.Pragmas)
                {
                    <div dir="ltr">
                        <label>@item.Pragma: </label>
                        <span dir="ltr">@item.Value</span>
                    </div>
                }
            </div>
        </FrameBody>
    </DntCardFrame>
</DntLoading>
