@attribute [Route(AppConfigsRoutingConstants.SiteConfig)]

<DntSitePageTitle Group="مدیریت برنامه" PageTitle="تنظیمات برنامه" CurrentPage="@null"/>

<DntCardFrame>
    <FrameHeader>
        تنظیمات برنامه
    </FrameHeader>
    <FrameBody>
        <EditForm Model="Model" method="post" autocomplete="off"
                  OnValidSubmit="PerformAsync" FormName="@nameof(SiteConfig)" Enhance>
            <DataAnnotationsValidator/>

            <DntInputText AutoCompleteType="AutoCompleteType.On"
                          FieldIcon="@DntBootstrapIcons.BiHouse"
                          @bind-Value="Model!.BlogName"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiLink45deg"
                          dir="ltr"
                          @bind-Value="Model.SiteRootUri"/>

            <hr/>

            <DntInputCheckBox @bind-Value="Model.SiteIsActive"/>
            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiCalendar2DayFill"
                            dir="ltr"
                            @bind-Value="Model.DeactivateSiteAfterDaysOfInactivity"/>
            <DntInputCheckBox @bind-Value="Model.CanUsersRegister"/>

            <hr/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiMailbox"
                          dir="ltr"
                          @bind-Value="Model.SmtpServerSetting.Address"/>
            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiPerson"
                          dir="ltr"
                          @bind-Value="Model.SmtpServerSetting.Username"/>
            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKey"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.SmtpServerSetting.Password"/>
            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiDoorOpen"
                            dir="ltr"
                            @bind-Value="Model.SmtpServerSetting.Port"/>

            <DntInputCheckBox @bind-Value="Model.SmtpServerSetting.UsePickupFolder"/>
            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiFolder"
                          dir="ltr"
                          @bind-Value="Model.SmtpServerSetting.PickupFolderName"/>

            <DntInputCheckBox @bind-Value="Model.SmtpServerSetting.ShouldValidateServerCertificate"/>

            <hr/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiEnvelopeAt"
                          dir="ltr"
                          @bind-Value="Model.SiteFromEmail"/>

            <DntInputText AutoCompleteType="AutoCompleteType.On"
                          FieldIcon="@DntBootstrapIcons.BiEnvelope"
                          @bind-Value="Model.SiteEmailsSig"/>

            <hr/>


            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiLink"
                              dir="ltr"
                              @bind-Value="Model.BannedUrls"/>

            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiStop"
                              dir="ltr"
                              @bind-Value="Model.BannedSites"/>

            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiFolderSymlink"
                              dir="ltr"
                              @bind-Value="Model.BannedReferrers"/>

            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiMailbox2Flag"
                              dir="ltr"
                              @bind-Value="Model.BannedEmails"/>

            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiKey"
                              dir="ltr"
                              @bind-Value="Model.BannedPasswords"/>

            <hr/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiRecycle"
                            dir="ltr"
                            @bind-Value="Model.UsedPasswords.ChangePasswordReminderDays"/>
            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiRecycle"
                            dir="ltr"
                            @bind-Value="Model.UsedPasswords.NotAllowedPreviouslyUsedPasswords"/>

            <hr/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiCalendar4"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinMonthToStayActive"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiCalendar"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MaxDaysToCloseATopic"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiSignRailroad"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinPostsToCreateALearningPath"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiSignRailroadFill"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinNumberOfLinksToCreateALearningPath"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiJournalBookmark"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinNumberOfLinksToCreateANewBacklog"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiCartCheck"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinNumberOfLinksCreateANewSurvey"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiMortarboard"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinPostsToCreateANewCourse"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.Off"
                            FieldIcon="@DntBootstrapIcons.BiFolderCheck"
                            dir="ltr"
                            @bind-Value="Model.MinimumRequiredPosts.MinPostsToCreateANewProject"/>

            <hr/>

            <DntInputCheckBox @bind-Value="Model.GeminiNewsFeedsInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKeyFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.GeminiNewsFeedsInfo.ApiKey"/>

            <DntInputTextArea FieldIcon="@DntBootstrapIcons.BiRss"
                              dir="ltr"
                              @bind-Value="Model.GeminiNewsFeedsInfo.NewsFeeds"/>

            <hr/>

            <DntInputCheckBox @bind-Value="Model.ShowRssBriefDescription"/>

            <hr/>

            <DntInputCheckBox @bind-Value="Model.ShouldCreateNewsScreenshots"/>

            <hr/>

            <DntInputCheckBox @bind-Value="Model.ShouldCreatePdfsForTags"/>

            <hr/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKeyFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.YouTubeDataApikey"/>

            <hr/>
            <div>ارسال بک‌آپ اطلاعات و بانک اطلاعاتی سایت به تلگرام:</div>
            <DntInputCheckBox @bind-Value="Model.TelegramBackupGroupInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiUniversalAccess"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramBackupGroupInfo.AccessToken"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiChatFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramBackupGroupInfo.ChatId"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKey"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramBackupGroupInfo.ZipPassword"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.On"
                            FieldIcon="@DntBootstrapIcons.BiFileArrowUp"
                            dir="ltr"
                            @bind-Value="Model.TelegramBackupGroupInfo.MaxZipPartSize"/>
            <hr/>

            <div>ارسال بک‌آپ فایل ای‌پاب سایت به تلگرام:</div>
            <DntInputCheckBox @bind-Value="Model.TelegramEPubGroupInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiUniversalAccess"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramEPubGroupInfo.AccessToken"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiChatFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramEPubGroupInfo.ChatId"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKey"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.TelegramEPubGroupInfo.ZipPassword"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.On"
                            FieldIcon="@DntBootstrapIcons.BiFileArrowUp"
                            dir="ltr"
                            @bind-Value="Model.TelegramEPubGroupInfo.MaxZipPartSize"/>
            <hr/>

            <div>ارسال بک‌آپ اطلاعات و بانک اطلاعاتی سایت به پیام‌رسان بله:</div>
            <DntInputCheckBox @bind-Value="Model.BaleBackupGroupInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiUniversalAccess"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleBackupGroupInfo.AccessToken"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiChatFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleBackupGroupInfo.ChatId"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKey"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleBackupGroupInfo.ZipPassword"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.On"
                            FieldIcon="@DntBootstrapIcons.BiFileArrowUp"
                            dir="ltr"
                            @bind-Value="Model.BaleBackupGroupInfo.MaxZipPartSize"/>

            <hr/>

            <div>ارسال بک‌آپ فایل ای‌پاب سایت به پیام‌رسان بله:</div>
            <DntInputCheckBox @bind-Value="Model.BaleEPubGroupInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiUniversalAccess"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleEPubGroupInfo.AccessToken"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiChatFill"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleEPubGroupInfo.ChatId"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiKey"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.BaleEPubGroupInfo.ZipPassword"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.On"
                            FieldIcon="@DntBootstrapIcons.BiFileArrowUp"
                            dir="ltr"
                            @bind-Value="Model.BaleEPubGroupInfo.MaxZipPartSize"/>

            <hr/>

            <div>ارسال بک‌آپ سایت به مگاان‌زد:</div>
            <DntInputCheckBox @bind-Value="Model.MegaNzBackupInfo.IsActive"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiSignpost"
                          dir="ltr"
                          @bind-Value="Model.MegaNzBackupInfo.MegaEmail"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiPass"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.MegaNzBackupInfo.MegaPassword"/>

            <DntInputText AutoCompleteType="AutoCompleteType.On"
                          FieldIcon="@DntBootstrapIcons.BiFolder"
                          dir="ltr"
                          @bind-Value="Model.MegaNzBackupInfo.MegaBackupFolder"/>

            <DntInputText AutoCompleteType="AutoCompleteType.On"
                          FieldIcon="@DntBootstrapIcons.BiFolder2"
                          dir="ltr"
                          @bind-Value="Model.MegaNzBackupInfo.MegaEPubFolder"/>

            <DntInputNumber AutoCompleteType="AutoCompleteType.On"
                            FieldIcon="@DntBootstrapIcons.BiClockHistory"
                            dir="ltr"
                            @bind-Value="Model.MegaNzBackupInfo.KeepLastNFilesOnMegaNz"/>

            <DntInputText AutoCompleteType="AutoCompleteType.Off"
                          FieldIcon="@DntBootstrapIcons.BiStar"
                          InputType="password"
                          dir="ltr"
                          @bind-Value="Model.MegaNzBackupInfo.ZipPassword"/>
            <hr/>

            <DntButton Type="ButtonType.Submit" IsSubmittingText="در حال ارسال ...">ارسال</DntButton>
        </EditForm>
    </FrameBody>
</DntCardFrame>
