@using DntSite.Web.Features.Advertisements.Models
<LayoutView Layout="@typeof(EmailsLayout)">
    با سلام
    <br/>
    نظر جدید ذیل برای آگهی «
    <a href="@PostUrl">
        @Model.Title
    </a>» ارسال گردیده است:
    <br/>
    <br/>
    <div align="right" dir="rtl" style="font-family: Tahoma;">
        <strong>نام فرستنده</strong>: @Model.Username
        <br/>
        <strong>نظر</strong>: @Model.Body.HtmlRaw()
        <br/>
        <strong>وضعیت</strong>: @Model.Stat
        <br/>
    </div>
</LayoutView>

@code {

    [Parameter] public AdvertisementReplyToAdminsEmailModel Model { set; get; } = null!;

    private string PostUrl => Model.SiteRootUri.CombineUrl(AdvertisementsRoutingConstants.AdvertisementsDetailsBase, escapeRelativeUrl: false).CombineUrl(string.Create(CultureInfo.InvariantCulture, $"/{Model.AdvertisementId}#comment-{Model.CommentId}"), escapeRelativeUrl: false);

}
